@model IEnumerable<sklad.Models.Thing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-3 border-top border-right">
        <ul class="nav nav-tabs nav-fill" id="filtersTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="allTab" data-toggle="tab" role="tab" aria-controls="allFilters" href="#allFilters" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="selectedTab" data-toggle="tab" role="tab" aria-controls="selectedFilters" href="#selectedFilters" aria-selected="false">Selected</a>
            </li>
        </ul>
        <div class="tab-content" id="filtersTabContent">
            <div id="allFilters" class="tab-pane fade show active" role="tabpanel" style="overflow-y:scroll;height:600px;">

                <div class="card">
                    <div class="card-header" id="headingCategory">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
                                <span class="oi oi-chevron-top"></span>
                                Category
                            </button>
                        </h5>
                    </div>
                    <div id="collapseCategory" class="collapse show">
                        <div class="card-body ">
                            <p><input type="checkbox" /> Display</p>
                            <p><input type="checkbox" /> HDD</p>
                            <p><input type="checkbox" /> RAM</p>
                            <p><input type="checkbox" /> CPU</p>
                            <p><input type="checkbox" /> Motherboard</p>
                        </div>
                    </div>
                </div>
                   
                <div class="card">
                        <div class="card-header" id="headingAccounts">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAccounts" aria-expanded="true" aria-controls="collapseAccounts">
                                    <span class="oi oi-chevron-top"></span>
                                     Accounts
                                </button>
                            </h5>
                        </div>
                        <div id="collapseAccounts" class="collapse show" >
                            <div class="card-body ">
                                <p><input type="checkbox" /> 1512</p>
                                <p><input type="checkbox" /> 1515</p>
                                <p><input type="checkbox" /> 1517</p>
                                <p><input type="checkbox" /> 1518</p>
                            </div>
                        </div>
                    </div>
                    
                <div class="card">
                        <div class="card-header" id="headingWorks">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseWorks" aria-expanded="true" aria-controls="collapseWorks">
                                    <span class="oi oi-chevron-top"></span>
                                     Works
                                </button>
                            </h5>
                        </div>
                        <div id="collapseWorks" class="collapse show">
                            <div class="card-body ">
                                <p><input type="checkbox" /> Parametr</p>
                                <p><input type="checkbox" /> Grom-2</p>
                                <p><input type="checkbox" /> Barva-A</p>
                                <p><input type="checkbox" /> Tsylindr</p>
                            </div>
                        </div>
                    </div>


                <div class="card">
                    <div class="card-header" id="headingType">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseType" aria-expanded="true" aria-controls="collapseType">
                                <span class="oi oi-chevron-top"></span>
                                Type
                            </button>
                        </h5>
                    </div>
                    <div id="collapseType" class="collapse show">
                        <div class="card-body ">
                            <p><input type="checkbox" /> Main</p>
                            <p><input type="checkbox" /> Stocks</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingPrice">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice">
                                <span class="oi oi-chevron-top"></span>
                                Price
                            </button>
                        </h5>
                    </div>
                    <div id="collapsePrice" class="collapse show">
                        <div class="card-body ">
                            from
                            <input id="priceFrom" type="text" />
                            to
                            <input id="priceTo" type="text" />
                            <button class="btn btn-info">OK</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingYear">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseYear" aria-expanded="true" aria-controls="collapseYear">
                                <span class="oi oi-chevron-top"></span>
                                Year
                            </button>
                        </h5>
                    </div>
                    <div id="collapseYear" class="collapse show">
                        <div class="card-body ">
                            from
                            <input id="yearFrom" type="text" />
                            to
                            <input id="yearTo" type="text" />
                            <button class="btn btn-info">OK</button>
                        </div>
                    </div>
                </div>

            </div>
            <div id="selectedFilters" class="tab-pane fade" role="tabpanel">

            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Account)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PassportNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryNumb)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MeasureUnit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProduceDate)
                    </th>

                    <!-- @*<th>
                         @Html.DisplayNameFor(model => model.FromWhere)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.DocNumber)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.DocDate)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.DocType)
                     </th>
                     <th>
                         @Html.DisplayNameFor(model => model.ProdType)
                     </th>*@-->
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PassportNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryNumb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MeasureUnit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProduceDate)
                        </td>

                        <!-- @*<td>
                             @Html.DisplayFor(modelItem => item.FromWhere)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.DocNumber)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.DocDate)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.DocType)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.ProdType)
                         </td>*@-->

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
