<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/oi-css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
            <div class="container">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink("Unit warehouse", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="navbar-nav">
                        <li>@Html.ActionLink("Main", "Index", "Home")</li>
                        <li>@Html.ActionLink("Component parts", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <p class="my-0 text-center">All the property:</p>
                <p class="my-0 text-center">@ViewBag.PiecesAmaunt</p>
                <p class="my-0 text-center">pieces</p>
            </div>
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                    data-target="#navbarContent" aria-controls="navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarContent">
                <ul class="navbar-nav mr-auto d-flex align-items-end">
                    <li class="nav-item">@Html.ActionLink("Main", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Component parts", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            $('.collapse').on('shown.bs.collapse', function () {
                $(this).parent().find('.oi-chevron-bottom').removeClass('oi-chevron-bottom').addClass('oi-chevron-top');
            }).on('hidden.bs.collapse', function () {
                $(this).parent().find('.oi-chevron-top').removeClass('oi-chevron-top').addClass('oi-chevron-bottom');
            });
        });

        $(document).ready(function () {
            $(document).on("click", "#resultTable tbody tr", function () {
                alert($(this).getElementsByTagName("input").value);
            });
        });

        function tableSearch() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("resultTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++){
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $('#btn_thing_left').click(function (e) {
            var selectedOpts = $('#ta_all option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing from Things selected to move.");
                e.preventDefault();
            }

            $('#SelIncludes').append($(selectedOpts).clone());
            $('#SelIncludes option').prop("selected", "selected");
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#btn_thing_right').click(function (e) {
            var selectedOpts = $('#SelIncludes option:selected');
            if (selectedOpts.length == 0) {
                alert("Nothing from Composit parts selected to move.");
                e.preventDefault();
            }
            $('#ta_all').append($(selectedOpts).clone());
            $(selectedOpts).remove();
            e.preventDefault();
        });

        $('#crtForm').submit(function (e) {
            $('#SelIncludes option').prop("selected", "selected");
        });

    </script>
</body>
</html>
